:root {

  --main-blue: #1a2248;
}

body {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-blue);
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
}

button {
  background-color: var(--main-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  height: 50px;
  width: 125px;
  border: none;
  margin: 20px auto;
  border-radius: 12px;
}

button:hover{
  cursor: pointer;
  height: 55px;
  width: 130px;
}

#main-content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

